google-ads-budget-monitor-v2.json
{
  "name": "P-MON · Google Ads Budget Monitor v2 — API Live",
  "_changelog": [
    "[v2] Remplacement du node mock Code → HTTP Request v4.2 (Google Ads API v19 live)",
    "[v2] Ajout node Parser réponse API (micros → euros, camelCase Google Ads REST)",
    "[v2] Config enrichie : customer_id, login_customer_id (MCC), developer_token",
    "[v2] scheduleTrigger typeVersion 1.2 → conservé (confirmé latest 2026)",
    "[v2] httpRequest typeVersion 4.2 (latest 2026)",
    "[v2] Authentification : predefinedCredentialType googleAdsOAuth2Api",
    "[v2] API Google Ads v19 (dernière version stable mai 2026)",
    "[v2] GAQL : SELECT campaign + campaign_budget + metrics.cost_micros (TODAY)",
    "[v2] settings enrichis : saveManualExecutions, callerPolicy",
    "[v2] Reste (euros) arrondi 2 décimales dans analyser seuils"
  ],
  "nodes": [
    {
      "id": "pm-trigger-001",
      "name": "⏰ Vérification budgets",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8,12,16,20 * * 1-5"
            }
          ]
        }
      }
    },
    {
      "id": "pm-config-001",
      "name": "⚙️ Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-seuil",
              "name": "seuil_alerte_pct",
              "value": 80,
              "type": "number"
            },
            {
              "id": "cfg-chat",
              "name": "telegram_chat_id",
              "value": "REMPLACER_PAR_CHAT_ID",
              "type": "string"
            },
            {
              "id": "cfg-agence",
              "name": "nom_agence",
              "value": "Agence SEA Demo",
              "type": "string"
            },
            {
              "id": "cfg-customer",
              "name": "google_ads_customer_id",
              "value": "REMPLACER_PAR_CUSTOMER_ID",
              "type": "string",
              "_note": "ID du compte client Google Ads (sans tirets, ex: 1234567890)"
            },
            {
              "id": "cfg-mcc",
              "name": "google_ads_login_customer_id",
              "value": "REMPLACER_PAR_MCC_ID",
              "type": "string",
              "_note": "ID du compte MCC (manager). Identique à customer_id si compte direct"
            },
            {
              "id": "cfg-devtoken",
              "name": "developer_token",
              "value": "REMPLACER_PAR_DEVELOPER_TOKEN",
              "type": "string",
              "_note": "Token développeur Google Ads API (Google Ads Manager → API Center)"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "pm-gads-001",
      "name": "📡 Google Ads API — Budgets du jour",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://googleads.googleapis.com/v19/customers/' + $json.google_ads_customer_id + '/googleAds:search' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleAdsOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "developer-token",
              "value": "={{ $json.developer_token }}"
            },
            {
              "name": "login-customer-id",
              "value": "={{ $json.google_ads_login_customer_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"query\": \"SELECT campaign.name, campaign.id, campaign_budget.amount_micros, metrics.cost_micros, customer.descriptive_name FROM campaign WHERE campaign.status = 'ENABLED' AND segments.date DURING TODAY ORDER BY metrics.cost_micros DESC\" }",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "credentials": {
        "googleAdsOAuth2Api": {
          "id": "REMPLACER_ID_GADS_CREDENTIAL",
          "name": "Google Ads OAuth2"
        }
      },
      "_setup": {
        "etape_1": "Dans n8n → Credentials → New → Google Ads OAuth2 API",
        "etape_2": "Créer un projet GCP → activer Google Ads API → OAuth2 credentials",
        "etape_3": "Developer Token : Google Ads Manager → Outils → API Center",
        "etape_4": "customer_id : Google Ads → coin supérieur droit (format: 123-456-7890 → enlever tirets)"
      }
    },
    {
      "id": "pm-parse-001",
      "name": "🔄 Parser réponse API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "jsCode": "// Google Ads API v19 REST — réponse en camelCase, montants en micros\n// 1 micro = 0,000001 euro → diviser par 1_000_000\nconst results = $input.first().json.results || [];\n\nif (results.length === 0) {\n  return [{ json: { campagnes: [] } }];\n}\n\nconst campagnes = results.map(r => ({\n  campagne: r.campaign?.name ?? 'N/A',\n  client:   r.customer?.descriptiveName ?? 'N/A',\n  budget:   Math.round((parseInt(r.campaignBudget?.amountMicros ?? '0') / 1_000_000) * 100) / 100,\n  depense:  Math.round((parseInt(r.metrics?.costMicros ?? '0')        / 1_000_000) * 100) / 100,\n  compte:   'Compte #' + (r.campaign?.id ?? 'N/A')\n}));\n\nreturn [{ json: { campagnes } }];"
      }
    },
    {
      "id": "pm-analyse-001",
      "name": "🔍 Analyser seuils",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300],
      "parameters": {
        "jsCode": "const seuil = $('⚙️ Config').item.json.seuil_alerte_pct;\nconst campagnes = $input.item.json.campagnes;\nconst heure = new Date().toLocaleTimeString('fr-FR', { hour: '2-digit', minute: '2-digit', timeZone: 'Europe/Paris' });\nconst date  = new Date().toLocaleDateString('fr-FR', { weekday: 'long', day: 'numeric', month: 'long', timeZone: 'Europe/Paris' });\nconst heureActuelle = new Date(new Date().toLocaleString('en-US', { timeZone: 'Europe/Paris' })).getHours();\n\nfunction genererRecommandation(c, hActuelle) {\n  const burnRate = hActuelle > 0 ? c.depense / hActuelle : c.depense / 20;\n  const heuresRestantes = burnRate > 0 ? c.reste / burnRate : 99;\n  const heureEpuisement = hActuelle + heuresRestantes;\n  if (c.pct >= 95) return 'Pause immédiate recommandée — budget quasi épuisé.';\n  if (heureEpuisement <= 24) {\n    const h = Math.floor(heureEpuisement);\n    const m = Math.round((heureEpuisement - h) * 60);\n    return `Budget épuisé estimé à ${h}h${m > 9 ? m : '0' + m}. Action : réduire enchères -20% ou pauser.`;\n  }\n  return 'Surveiller — rythme actuel OK mais à surveiller en fin de journée.';\n}\n\nconst alertes = campagnes\n  .map(c => ({\n    ...c,\n    pct:  Math.round((c.depense / c.budget) * 100),\n    reste: Math.round((c.budget - c.depense) * 100) / 100\n  }))\n  .map(c => ({ ...c, recommandation: genererRecommandation(c, heureActuelle) }))\n  .filter(c => c.pct >= seuil)\n  .sort((a, b) => b.pct - a.pct);\n\nreturn [{ json: { alertes, total: alertes.length, heure, date, seuil } }];"
      }
    },
    {
      "id": "pm-if-001",
      "name": "🚨 Des alertes ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1340, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-alerts",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "pm-format-001",
      "name": "📝 Formater message Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 180],
      "parameters": {
        "jsCode": "const { alertes, heure, date, seuil } = $input.item.json;\nconst agence = $('⚙️ Config').item.json.nom_agence;\n\nconst lignes = alertes.map(a => {\n  const emoji = a.pct >= 95 ? '🔴' : a.pct >= 85 ? '🟠' : '🟡';\n  return [\n    `${emoji} *${a.campagne}* — ${a.client}`,\n    `Budget : ${a.budget}€  ·  Dépensé : *${a.depense}€*  ·  *${a.pct}%* utilisé  ·  Reste : ${a.reste}€`,\n    `_${a.compte}_`,\n    `💡 ${a.recommandation}`,\n    `─────────────────────`\n  ].join('\\n');\n}).join('\\n\\n');\n\nconst message = [\n  `🚨 *ALERTE BUDGET GOOGLE ADS*`,\n  `📅 ${date} à ${heure}`,\n  `🏢 ${agence}  ·  Seuil : ${seuil}%`,\n  `─────────────────────`,\n  '',\n  lignes,\n  '',\n  `⚡ *${alertes.length} campagne(s) à risque*`,\n  `Vérifiez vos budgets avant épuisement total.`\n].join('\\n');\n\nreturn [{ json: { message, nb_alertes: alertes.length } }];"
      }
    },
    {
      "id": "pm-telegram-001",
      "name": "📣 Alerte Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1780, 180],
      "parameters": {
        "chatId": "={{ $('⚙️ Config').item.json.telegram_chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "REMPLACER_ID_TELEGRAM_CREDENTIAL",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "id": "pm-ok-001",
      "name": "✅ Aucune alerte",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1560, 420],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-ok",
              "name": "statut",
              "value": "OK — tous les budgets sous le seuil",
              "type": "string"
            },
            {
              "id": "log-ts",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "log-seuil",
              "name": "seuil_pct",
              "value": "={{ $('⚙️ Config').item.json.seuil_alerte_pct }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "⏰ Vérification budgets": {
      "main": [[{ "node": "⚙️ Config", "type": "main", "index": 0 }]]
    },
    "⚙️ Config": {
      "main": [[{ "node": "📡 Google Ads API — Budgets du jour", "type": "main", "index": 0 }]]
    },
    "📡 Google Ads API — Budgets du jour": {
      "main": [[{ "node": "🔄 Parser réponse API", "type": "main", "index": 0 }]]
    },
    "🔄 Parser réponse API": {
      "main": [[{ "node": "🔍 Analyser seuils", "type": "main", "index": 0 }]]
    },
    "🔍 Analyser seuils": {
      "main": [[{ "node": "🚨 Des alertes ?", "type": "main", "index": 0 }]]
    },
    "🚨 Des alertes ?": {
      "main": [
        [{ "node": "📝 Formater message Telegram", "type": "main", "index": 0 }],
        [{ "node": "✅ Aucune alerte", "type": "main", "index": 0 }]
      ]
    },
    "📝 Formater message Telegram": {
      "main": [[{ "node": "📣 Alerte Telegram", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "instanceId": "bos-sedera",
    "templateCredsSetupCompleted": false
  }
}
