google-ads-budget-monitor.json
{
  "name": "P-MON · Google Ads Budget Monitor",
  "nodes": [
    {
      "id": "pm-trigger-001",
      "name": "⏰ Vérification budgets",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 8,12,16,20 * * 1-5" }
          ]
        }
      }
    },
    {
      "id": "pm-config-001",
      "name": "⚙️ Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "cfg-seuil", "name": "seuil_alerte_pct", "value": 80, "type": "number" },
            { "id": "cfg-chat", "name": "telegram_chat_id", "value": "REMPLACER_PAR_CHAT_ID", "type": "string" },
            { "id": "cfg-agence", "name": "nom_agence", "value": "Agence SEA Demo", "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "pm-data-001",
      "name": "📊 Campagnes (mock → Sheets en prod)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "jsCode": "// DÉMO : données mockées pour la démonstration\n// EN PRODUCTION : remplacer ce node par :\n//   1. Google Ads → rapport quotidien automatique vers Google Sheets\n//   2. Node « Google Sheets » pour lire les données en temps réel\n\nconst campagnes = [\n  { campagne: 'Brand — Leroy Merlin', client: 'Leroy Merlin', budget: 500, depense: 432, compte: 'Compte #4401' },\n  { campagne: 'Shopping — Nike France', client: 'Nike France', budget: 1200, depense: 756, compte: 'Compte #4402' },\n  { campagne: 'Brand — Décathlon', client: 'Décathlon', budget: 800, depense: 712, compte: 'Compte #4403' },\n  { campagne: 'Search Generic — MDM', client: 'Maisons du Monde', budget: 350, depense: 180, compte: 'Compte #4404' },\n  { campagne: 'Remarketing — Sephora', client: 'Sephora', budget: 600, depense: 545, compte: 'Compte #4405' }\n];\n\nreturn [{ json: { campagnes } }];"
      }
    },
    {
      "id": "pm-analyse-001",
      "name": "🔍 Analyser seuils",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "jsCode": "const seuil = $('⚙️ Config').item.json.seuil_alerte_pct;\nconst campagnes = $input.item.json.campagnes;\nconst heure = new Date().toLocaleTimeString('fr-FR', { hour: '2-digit', minute: '2-digit', timeZone: 'Europe/Paris' });\nconst date = new Date().toLocaleDateString('fr-FR', { weekday: 'long', day: 'numeric', month: 'long', timeZone: 'Europe/Paris' });\nconst heureActuelle = new Date(new Date().toLocaleString('en-US', { timeZone: 'Europe/Paris' })).getHours();\n\nfunction genererRecommandation(c, hActuelle) {\n  const burnRate = hActuelle > 0 ? c.depense / hActuelle : c.depense / 20;\n  const heuresRestantes = burnRate > 0 ? c.reste / burnRate : 99;\n  const heureEpuisement = hActuelle + heuresRestantes;\n  if (c.pct >= 95) return 'Pause immédiate recommandée — budget quasi épuisé.';\n  if (heureEpuisement <= 24) {\n    const h = Math.floor(heureEpuisement);\n    const m = Math.round((heureEpuisement - h) * 60);\n    return `Budget épuisé estimé à ${h}h${m > 9 ? m : '0' + m}. Action : réduire enchères -20% ou pauser.`;\n  }\n  return 'Surveiller — rythme actuel OK mais à surveiller en fin de journée.';\n}\n\nconst alertes = campagnes\n  .map(c => ({\n    ...c,\n    pct: Math.round((c.depense / c.budget) * 100),\n    reste: c.budget - c.depense\n  }))\n  .map(c => ({ ...c, recommandation: genererRecommandation(c, heureActuelle) }))\n  .filter(c => c.pct >= seuil)\n  .sort((a, b) => b.pct - a.pct);\n\nreturn [{ json: { alertes, total: alertes.length, heure, date, seuil } }];"
      }
    },
    {
      "id": "pm-if-001",
      "name": "🚨 Des alertes ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1120, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "has-alerts",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "pm-format-001",
      "name": "📝 Formater message Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 180],
      "parameters": {
        "jsCode": "const { alertes, heure, date, seuil } = $input.item.json;\nconst agence = $('⚙️ Config').item.json.nom_agence;\n\nconst lignes = alertes.map(a => {\n  const emoji = a.pct >= 95 ? '🔴' : a.pct >= 85 ? '🟠' : '🟡';\n  return [\n    `${emoji} *${a.campagne}* — ${a.client}`,\n    `Budget : ${a.budget}€  ·  Dépensé : *${a.depense}€*  ·  *${a.pct}%* utilisé  ·  Reste : ${a.reste}€`,\n    `_${a.compte}_`,\n    `💡 ${a.recommandation}`,\n    `─────────────────────`\n  ].join('\\n');\n}).join('\\n\\n');\n\nconst message = [\n  `🚨 *ALERTE BUDGET GOOGLE ADS*`,\n  `📅 ${date} à ${heure}`,\n  `🏢 ${agence}  ·  Seuil : ${seuil}%`,\n  `─────────────────────`,\n  '',\n  lignes,\n  '',\n  `⚡ *${alertes.length} campagne(s) à risque*`,\n  `Vérifiez vos budgets avant épuisement total.`\n].join('\\n');\n\nreturn [{ json: { message, nb_alertes: alertes.length } }];"
      }
    },
    {
      "id": "pm-telegram-001",
      "name": "📣 Alerte Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1560, 180],
      "parameters": {
        "chatId": "={{ $('⚙️ Config').item.json.telegram_chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": { "id": "REMPLACER_ID_TELEGRAM_CREDENTIAL", "name": "Telegram Bot" }
      }
    },
    {
      "id": "pm-ok-001",
      "name": "✅ Aucune alerte",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 420],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "log-ok", "name": "statut", "value": "OK — tous les budgets sous le seuil", "type": "string" },
            { "id": "log-ts", "name": "timestamp", "value": "={{ $now.toISO() }}", "type": "string" },
            { "id": "log-seuil", "name": "seuil_pct", "value": "={{ $('⚙️ Config').item.json.seuil_alerte_pct }}", "type": "string" }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "⏰ Vérification budgets": {
      "main": [[{ "node": "⚙️ Config", "type": "main", "index": 0 }]]
    },
    "⚙️ Config": {
      "main": [[{ "node": "📊 Campagnes (mock → Sheets en prod)", "type": "main", "index": 0 }]]
    },
    "📊 Campagnes (mock → Sheets en prod)": {
      "main": [[{ "node": "🔍 Analyser seuils", "type": "main", "index": 0 }]]
    },
    "🔍 Analyser seuils": {
      "main": [[{ "node": "🚨 Des alertes ?", "type": "main", "index": 0 }]]
    },
    "🚨 Des alertes ?": {
      "main": [
        [{ "node": "📝 Formater message Telegram", "type": "main", "index": 0 }],
        [{ "node": "✅ Aucune alerte", "type": "main", "index": 0 }]
      ]
    },
    "📝 Formater message Telegram": {
      "main": [[{ "node": "📣 Alerte Telegram", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "timezone": "Europe/Paris" },
  "meta": { "instanceId": "bos-sedera" }
}
